.content__list {
  position: relative;
  width: 100%;
  min-height: 298px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 1px;
}

.content__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
