.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

